:root {
    --gradients: linear-gradient(to bottom right, turquoise 20%, seashell 80%);

}

* {
    box-sizing: border-box;
}

body {
    background: seashell;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    /* justify-content: flex-start; */
}

header {
    display:flex;
    justify-content: space-between;
    padding: 4px;
    background: turquoise;
}

h1 {
    margin: 30px;
    padding: 40px 40px 40px 40px;
    text-align:left;
    color: teal;
    background: gold;
    box-shadow:-5px -5px 5px 40px gold;
    border-radius: 100%;
}

nav {
    display:flex;
    align-items:flex-end;

}

nav a {
    color:black;
    text-decoration: none;
    padding: 14px 20px;
}

.hero {
    display:flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(turquoise 20%, seashell 80%);
}

.hero img{
    border: 2px solid black;
    height:200px;
    border-radius: 30%;
    box-shadow: 0px 0px 10px teal;
    animation:fadeIn 7s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.card {
    margin:1%;
    display: flex;
    align-items:center;
}

h2 {
    display:flex;
    justify-content: end;
    align-items:center;
    width:20%;
    animation:fadeIn 7s;
}

.card div {
    width:80%;
    margin: 30px;
    padding: 20px;
    border-left: black solid 5px;
}

.workpics {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
}

.workpics1{
    display:flex;

}

.workpics img {
    /* max-height: 90%; */
    max-width: 80%;
    border: 2px solid black;
    border-radius: 20% 20%;
    box-shadow: 0px 0px 10px teal;
}


h3 {
    position: relative;
    max-width:50%;
    margin-top:-50px;
    padding: 2%;
    color: #000;
    text-align: center;
    border: 2px solid black;
    box-shadow: -2px -2px 5px turquoise, 2px 2px 5px turquoise;
    background-image: linear-gradient(to bottom right, turquoise 20%, seashell 80%);
}

.workpics img:hover {
    border: 2px solid black;
    border-radius: 20% 0%;
    box-shadow: 0 0 10px 10px  turquoise;
    transition: all 1s ease;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
}

.contacts a {
    color:black;
    text-decoration: none;
}

footer {
    color:teal;
    text-align:center;
    content: "\01f354";
}

@media screen and (max-width: 990px) {
    header{
        flex-direction:column;
    }
    .card {
        flex-direction: column;
    }
    .card h2 {
        width:100%;
    }
    .card div {
        width: 100%;
        border-top: black solid 5px;
        border-left: none;
    }
    .workpics1 {
        flex-direction:column;
        /* height:50%; */
    }
    .workpics img {
        max-width:70%;
    }

}
