:root {
    --gradients: linear-gradient(to bottom right, turquoise 20%, seashell 80%);

}

* {
    box-sizing: border-box;
}

body {
    background: seashell;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    /* justify-content: flex-start; */
}

header {
    display:flex;
    justify-content: space-between;
    padding: 4px;
    background: turquoise;
}

h1 {
    margin: 30px;
    padding: 40px 40px 40px 40px;
    text-align:left;
    color: teal;
    background: gold;
    box-shadow:-5px -5px 5px 40px gold;
    border-radius: 100%;
}

nav {
    display:flex;
    align-items:flex-end;

}

nav a {
    color:black;
    text-decoration: none;
    padding: 14px 20px;
}

.hero {
    display:flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(turquoise 20%, seashell 80%);
}

.hero img{
    border: 2px solid black;
    height:200px;
    border-radius: 30%;
    box-shadow: 0px 0px 10px teal;
    /* animation:fadeIn 7s; */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.card {
    margin:1%;
    display: flex;
    align-items:center;
}

h2 {
    display:flex;
    justify-content: end;
    align-items:center;
    width:20%;
    animation:fadeIn 7s;
}

.card div {
    width:80%;
    margin: 30px;
    padding: 20px;
    border-left: black solid 5px;
}
/* 
.Bengal {
    display:flex;
    flex-grow:1;
    background: url(/Assets/Images/Bengal.jpg) no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid pink;
    margin:30px;
}

.Bees {
    background: url(/Assets/Images/Bees.jpg) no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid pink;
    margin:30px;
}

.Mantis {
    background: url(/Assets/Images/Mantis.jpg) no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid pink;
    margin:30px;
}

.ChowChow {
    background: url(/Assets/Images/ChowChow.jpg) no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid pink;
    margin:30px;
}

.CatBelly {
    background: url(/Assets/Images/CatBelly.jpg) no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid pink;
    margin:30px;
} */
    .workpics {
    display:flex;
    /* flex-flow:row wrap; */
    justify-content: center;
}

/* .workpics img {
    max-width: 80%;
    max-height: 80%;
    margin: 2px;
    border: 2px solid black;
    border-radius: 20% 20%;
    box-shadow: 0px 0px 10px teal; */
}

#Mantis {
    max-width: 80%;
    max-height: 80%;
    margin: 2px;
    border: 2px solid black;
    border-radius: 20% 20%;
    box-shadow: 0px 0px 10px teal;
}

#Bees {
    max-width: 80%;
    max-height: 80%;
    margin: 2px;
    border: 2px solid black;
    border-radius: 20% 20%;
    box-shadow: 0px 0px 10px teal;
}

#CatBelly {
    max-width: 80%;
    max-height: 80%;
    margin: 2px;
    border: 2px solid black;
    border-radius: 20% 20%;
    box-shadow: 0px 0px 10px teal;
}

#Cat {
    max-width: 80%;
    max-height: 80%;
    margin: 2px;
    border: 2px solid black;
    border-radius: 20% 20%;
    box-shadow: 0px 0px 10px teal;
}

#Chowchow {
    max-width: 80%;
    max-height: 80%;
    margin: 2px;
    border: 2px solid black;
    border-radius: 20% 20%;
    box-shadow: 0px 0px 10px teal;
}

.workpics h3, #Mantis h3 {
    position: relative;
    max-width:30%;
    margin:-75px 20px -75px -20px;
    padding: 2%;
    color: #000;
    text-align: left;
    border: 2px solid black;
    box-shadow: -2px -2px 5px turquoise, 2px 2px 5px turquoise;
    background-image: linear-gradient(to bottom right, turquoise 20%, seashell 80%);
}

.workpics section:hover {
    border: 2px solid black;
    border-radius: 20% 0%;
    box-shadow: 0 0 10px 10px  turquoise;
    transition: all 1s ease;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
}

.contacts a {
    color:black;
    text-decoration: none;
}

footer {
    color:teal;
    text-align:center;
    content: "\01f354";
}

@media screen and (max-width: 768px) {
    header{
        flex-direction:column;
    }
    .card {
        flex-direction: column;
    }
    .card h2 {
        width:100%;
    }
    .card div {
        width: 100%;
        border-top: black solid 5px;
        border-left: none;
    }
}
