*{
    box-sizing: border-box;
}

body {
    background: seashell;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
    min-height: 100vh;
    justify-content: flex-start;
}

header {
    padding: 4px;
    background: turquoise;
}

h1 {
    margin: 20px;
    text-align:left;
    color: teal;
}

nav {
    display:flex;
    justify-content: flex-end;
}

nav a {
    color:black;
    text-decoration: none;
    padding: 14px 20px;
}

h2 {
    display:flex;
    justify-content: end;
    align-items:center;
    width:20%;
}

.card {
    margin:1%;
    display: flex;
    align-items:center;
}

.card div {
    width:80%;
    margin: 30px;
    padding: 20px;
    border-left: black solid 5px;
}

div:hover {
    box-shadow: 0 0 5px 5px  turquoise;
    transition: all 1s ease;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
}

footer {
    color:teal;
    text-align:center;
    content: "\01f354";
}

@media screen and (max-width: 768px) {
    .card h2 {
        width:100%;
    }
    .card div {
        width: 100%;
        border-top: black solid 5px;
        border-left: none;
    }
}
